* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* body{
} */

.App {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url("../public/nathan-dumlao-OHzkfrv9Ycw-unsplash.jpg");
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.main h2 {
	font-size: 2.5rem;
}

.main h5 {
	font-size: 1rem;
	line-height: 5rem;
}

.main button {
	border: 1px solid transparent;
	background-color: crimson;
	padding: 1rem 2rem;
	font-size: 1rem;
	font-weight: 700;
	text-transform: capitalize;
	border-radius: 2px;
}

.loader {
	font-size: 1.2rem;
	color: white;
}
.weather {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 40vw;
	padding: 8rem;
	/* height: 90vh; */

	color: #224;
	border-radius: 20px;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.1),
		70%,
		rgba(255, 255, 255, 0.3)
	);
	box-shadow: inset 4px 4px 5px 0 hsl(0, 0, 100, 0.3),
		inset -4px -4px 5px 0 hsl(0, 0, 0, 0.15), 0 0 10px 1px hsl(0, 0, 0, 0.4);
	backdrop-filter: blur(30px);
}

.search {
	position: absolute;
	border-radius: 5px;
	overflow: hidden;
	top: 10px;
}
.search input {
	font-weight: 600;
	padding: 0.5rem 0.2rem;
	text-transform: capitalize;
	border: 1px solid transparent;
	outline: none;
}

.search button {
	padding: 0.5rem 0.1rem;
	border: 1px solid transparent;
	background-color: crimson;
	font-weight: bold;
}

.WeatherData {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	color: white;
}

.App .error {
	font-size: 1.5rem;
	color: white;
	text-transform: capitalize;
}

.WeatherData h4 {
	font-size: 0.9rem;
	text-transform: uppercase;
}

.WeatherData .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	background-color: aqua;
	border-radius: 100%;
}

.WeatherData .type {
	font-size: 1.5rem;
	text-transform: capitalize;
}

.weather-datas {
	display: flex;
	justify-content: space-around;
	align-content: center;
	width: 90%;
	padding: 20px 0;
	background-color: grey;
	position: absolute;
	border-radius: 10px;
	bottom: 20px;
	margin: 5px;
}

.hum-data,
.wind-data {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
}
@media screen and (max-width: 750px) and (min-width: 250px) {
	.weather {
		width: 80vw;
		/* height: 80vh; */
		padding: 7rem;
	}

	.main h2 {
		font-size: 1rem;
		text-align: center;
	}

	.main h5 {
		font-size: 0.8rem;
		line-height: 5rem;
	}

	.main button {
		border: 1px solid transparent;
		background-color: crimson;
		padding: 0.8rem 1.6rem;
		font-size: 0.8rem;
		font-weight: 700;
		text-transform: capitalize;
	}
}
