* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
} */

.App{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height: 100vh;
  /* background-color: #267b818e; */
  background-image: url('../public/nathan-dumlao-OHzkfrv9Ycw-unsplash.jpg');
}

.weather{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  position: relative;
  border-radius: 20px;
  width:70vw;
  height: 80vh;
  /* padding:50px */
}

.search{
  position: absolute;
  /* width:80%; */
  top:10px;
}
.search input{
 font-weight: 600;
  padding:10px 8px;
  text-transform: capitalize;
  border: 1px solid transparent;
  /* background:none; */
  outline: none;
  
  width:30vw;

}

.search button{
  padding:10px 6px;
  border: 1px solid transparent;
  background-color: crimson;
  width:10vw;
}

.WeatherData{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  /* position:absolute; */
  height:100%;
  width:100%;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App .error{
  font-size:1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:white;
  text-transform: capitalize;
}

.WeatherData h4{
  position: absolute;
  top:100px;
  left:10px;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.WeatherData h2{
  position: absolute;
  top:120px;
  left:10px;
}

.WeatherData .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  background-color: aqua;
  border-radius: 100%;
}

.WeatherData .type{
  font-size: 1.5rem;
  text-transform: capitalize;
}

.weather-datas{
  display: flex;
  justify-content: space-around;
  align-content: center;
  width:90%;
  padding:20px 0;
  background-color: grey;
  position: absolute;
  border-radius: 10px;
  bottom: 20px;
  margin: 5px;
}

.hum-data, .wind-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
@media screen and (max-width:750px) and (min-width:250px) {
  .search input{
     width:50vw;
   }
   
   .search button{
     width:20vw;
   }
}


